@import "../../../styles.scss";

:host {
  width: 100%;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid $white;
}
.span-container {
  width: 35%;
}
