<app-section-name>Alarm</app-section-name>
<app-navlist></app-navlist>
<form class="comunique-form">
  <mat-form-field class="communique-field">
    <textarea class="communique" name="communique" id="communique-input" rows="5" matInput #message maxlength="512"
      placeholder="Message" placeholder="Treść komunikatu"></textarea>
    <mat-hint class="server-answer" align="start"><strong>Server info</strong> </mat-hint>
    <mat-hint align="end">{{message.value.length}} / 512</mat-hint>
  </mat-form-field>
</form>
<div class="buttons-container">
  <button class="send-btn" mat-raised-button id="send-btn">Wyślij</button>
  <button class="send-btn" mat-raised-button color="accent" id="sendPPOZ-btn">Wyślij alarm PPOZ</button>
</div>
