<div class="con">
  <form [formGroup]="alarmForm" class="alarm-form">
    <mat-form-field class="message-field">
      <textarea formControlName="message" class="communique" name="message" id="message-input" rows="5" matInput #message maxlength="512"
        placeholder="Message" placeholder="Message content"></textarea>
      <mat-hint align="end">{{message.value.length}} / 512</mat-hint>
    </mat-form-field>
  </form>
  <div class="buttons-container">
    <button (click)="send()" color="accent" class="send-btn" mat-raised-button id="send-btn">Send mail alert</button>
  </div>
  <app-server-ans  [status]='server.status' [message]='server.answer'></app-server-ans>

</div>
