@import "../../../styles.scss";

:host {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-name {
  width: 100%;
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.226);
  text-align: center;
  font-size: 3rem;
  padding: 3px 0;
  letter-spacing: 3px;
}

.comunique-form {
  margin-top: 50px;
  border: 1px solid rgb(119, 119, 119);
  padding: 14px;
  width: 800px;
}

.communique-field {
  width: 98%;
}

.server-answer {
  font-size: 1rem;
}

::ng-deep .mat-form-field-label-wrapper {
  font-size: 25px;
}

.send-btn {
  font-size: 1.4rem;
  padding: 5px 25px;
  margin: 30px;
}
