@import "../../../styles.scss";

:host {
    @include content-layout;
}
.comunique-form {
  margin-top: 50px;
  border: 1px solid rgb(119, 119, 119);
  padding: 14px;
  width: 800px;
}

.communique-field {
  width: 98%;
}

.server-answer {
  font-size: 1rem;
}

:host ::ng-deep .mat-form-field-label-wrapper {
  font-size: 25px;
}

.send-btn {
  font-size: 1.4rem;
  padding: 5px 25px;
  margin: 30px;
}
