<ul class="icon-container">
  <app-menu-circle-btn routerLink="/add-office"></app-menu-circle-btn>
    <li routerLink="/add-office"><img src="./../../../assets/add_office.png" alt="Add Office"></li>
    <li routerLink="/search-office"><img src="./../../../assets/search_office.png" alt="Search Office"></li>
    <li routerLink="/add-windows"><img src="./../../../assets/add_windows.png" alt="Add Windows"></li>
    <li routerLink="/search-windows"><img src="./../../../assets/search_windows.png" alt="Search Windows"></li>
    <li routerLink="/deleg-view"><img src="./../../../assets/search_deleg.png" alt="Search Deleg"></li>
    <li routerLink="/add-deleg"><img src="./../../../assets/add_deleg.png" alt="Add deleg"></li>
    <li routerLink="/search-car"><img src="./../../../assets/search_car.png" alt="Search car"></li>
    <li routerLink="/dist-car"><img src="./../../../assets/add_dist.png" alt="Add dist"></li>
    <li routerLink="/alarm"><img src="./../../../assets/alarm.png" alt="Alarm"></li>
</ul>
