@import "../../../styles.scss";

.icon-container {
  padding: 50px;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 70vh;
}
.font-icon {
  font-size: 3.5rem;
}
app-menu-circle-btn {
  margin: 15px;
  color: white;
  font-size: 1.5rem;
  &:hover {
    cursor: pointer;
    & span,
    .font-icon {
      color: $logocolor;
    }
  }

  & span {
    letter-spacing: 1px;
    font-weight: 800;
    text-align: center;
    transition: all .3s ease-in-out;

    &:first-line {
      font-size: 1.5em;
    }
  }
}
