@import "../../../styles.scss";
:host {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
 }

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 25%;
  padding: 1%;
  background-color: #222;
  border-radius: 10px;
  box-shadow: -5px 0 2rem rgba(0, 0, 0, 0.493);
  transition: 0.3s ease-out;
  position: relative;
  left: 0%;
}

.card:not(:first-child) {
  box-shadow: -25px 0 2rem rgba(0, 0, 0, 0.493);
  margin-left: -150px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.3s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 130px;
  transition: 0.3s ease-out;
}

.title {
  color: white;
  font-weight: 400;
  letter-spacing: .7px;
  left: 20px;
  top: 15px;
}

.bar {
  position: relative;
  bottom: 10px;
  height: 5px;
  width: 90%;
  background-color: $logocolor;
}
.btn-container {
  flex: 1;
  padding: 2%;
  border: 1px solid white;
  border-radius: 7px;
}

/* .card:hover .filledbar {
  width: 90%;
  transition: 0.3s ease-out;
}

.circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

 */





.icon-container {
  padding: 50px;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 70vh;
}
.font-icon {
  font-size: 3.5rem;
}
app-menu-circle-btn {
  margin: 15px;
  color: white;
  font-size: .5rem;
  &:hover {
    cursor: pointer;
    & span,
    .font-icon {
      color: $logocolor;
    }
  }

  & span {
    letter-spacing: 1px;
    font-weight: 800;
    text-align: center;
    transition: all .3s ease-in-out;

    &:first-line {
      font-size: 1.5em;
    }
  }
}
