<div class="card">
  <h3 class="title">Manage Office</h3>
  <div class="bar">
  </div>
    <div class="btn-container">
<!--       <app-menu-circle-btn routerLink="/add-office">
        <fa-icon class="font-icon" [icon]="faPlus"></fa-icon><span>ADD<br>OFFICE</span>
      </app-menu-circle-btn>
      <app-menu-circle-btn routerLink="/search-office">
        <fa-icon class="font-icon" [icon]="faSearch"></fa-icon><span>SEARCH<br>OFFICE</span>
      </app-menu-circle-btn>
      <app-menu-circle-btn routerLink="/add-windows">
        <fa-icon class="font-icon" [icon]="faPlus"></fa-icon><span>ADD<br>WINDOWS</span>
      </app-menu-circle-btn>
      <app-menu-circle-btn routerLink="/search-windows">
        <fa-icon class="font-icon" [icon]="faSearch"></fa-icon><span>SEARCH<br>WINDOWS</span>
      </app-menu-circle-btn> -->
  </div>
</div>
<div class="card">
  <h3 class="title">Transport</h3>
  <div class="bar">
  </div>
  <div class="btn-container">
    <app-menu-circle-btn routerLink="/deleg-view">
      <fa-icon class="font-icon" [icon]="faCar"></fa-icon><span>SEARCH<br>DELEGATION</span>
    </app-menu-circle-btn>
    <app-menu-circle-btn routerLink="/add-deleg">
      <fa-icon class="font-icon" [icon]="faPlus"></fa-icon><span>ADD<br>DELEGATION</span>
    </app-menu-circle-btn>
    <app-menu-circle-btn routerLink="/add-car">
      <fa-icon class="font-icon" [icon]="faPlus"></fa-icon><span>ADD<br>VEHICLE</span>
    </app-menu-circle-btn>
    <app-menu-circle-btn routerLink="/search-car">
      <fa-icon class="font-icon" [icon]="faSearch"></fa-icon><span>SEARCH<br>VEHICLE</span>
    </app-menu-circle-btn>
    <app-menu-circle-btn routerLink="/dist-car">
      <fa-icon class="font-icon" [icon]="faTachometerAlt"></fa-icon><span>ADD<br>MILEAGE</span>
    </app-menu-circle-btn>
  </div>

</div>
<div class="card">
  <h3 class="title">Send Alarm</h3>
  <div class="bar">
  </div>
  <div class="btn-container">
    <app-menu-circle-btn routerLink="/alarm">
      <fa-icon class="font-icon" [icon]="faBell"></fa-icon><span>ALARM</span>
    </app-menu-circle-btn>
  </div>
</div>
<!-- <div class="icon-container">
  <app-menu-circle-btn routerLink="/add-office">
    <fa-icon class="font-icon" [icon]="faPlus"></fa-icon><span>ADD<br>OFFICE</span>
  </app-menu-circle-btn>
  <app-menu-circle-btn routerLink="/search-office">
    <fa-icon class="font-icon" [icon]="faSearch"></fa-icon><span>SEARCH<br>OFFICE</span>
  </app-menu-circle-btn>
  <app-menu-circle-btn routerLink="/add-windows">
    <fa-icon class="font-icon" [icon]="faPlus"></fa-icon><span>ADD<br>WINDOWS</span>
  </app-menu-circle-btn>
  <app-menu-circle-btn routerLink="/search-windows">
    <fa-icon class="font-icon" [icon]="faSearch"></fa-icon><span>SEARCH<br>WINDOWS</span>
  </app-menu-circle-btn>
  <app-menu-circle-btn routerLink="/deleg-view">
    <fa-icon class="font-icon" [icon]="faCar"></fa-icon><span>SEARCH<br>DELEGATION</span>
  </app-menu-circle-btn>
  <app-menu-circle-btn routerLink="/add-deleg">
    <fa-icon class="font-icon" [icon]="faPlus"></fa-icon><span>ADD<br>DELEGATION</span>
  </app-menu-circle-btn>
  <app-menu-circle-btn routerLink="/add-car">
    <fa-icon class="font-icon" [icon]="faPlus"></fa-icon><span>ADD<br>VEHICLE</span>
  </app-menu-circle-btn>
  <app-menu-circle-btn routerLink="/search-car">
    <fa-icon class="font-icon" [icon]="faSearch"></fa-icon><span>SEARCH<br>VEHICLE</span>
  </app-menu-circle-btn>
  <app-menu-circle-btn routerLink="/dist-car">
    <fa-icon class="font-icon" [icon]="faTachometerAlt"></fa-icon><span>ADD<br>MILEAGE</span>
  </app-menu-circle-btn>
  <app-menu-circle-btn routerLink="/alarm">
    <fa-icon class="font-icon" [icon]="faBell"></fa-icon><span>ALARM</span>
  </app-menu-circle-btn>
</div> -->
