<div class="card">
  <h3 class="title">Alarm</h3>
  <div class="bar">
  </div>
  <div class="alarm-container" routerLink="/manager/alarm">
    <div class="alarm-btn">
      <fa-icon class="font-icon--alarm" [icon]="faBell"></fa-icon><span>ALARM</span>
    </div>
  </div>
</div>
<div class="card">
  <h3 class="title">Office Management</h3>
  <div class="bar">
  </div>
  <div class="btn-container">
    <app-icon-button routerLink="/manager/add-office">
      <fa-icon class="font-icon" [icon]="faPlus"></fa-icon><span>ADD<br>OFFICE</span>
    </app-icon-button>
    <app-icon-button routerLink="/manager/add-windows">
      <fa-icon class="font-icon" [icon]="faPlus"></fa-icon><span>ADD<br>WINDOWS</span>
    </app-icon-button>
    <app-icon-button routerLink="/manager/search-office">
      <fa-icon class="font-icon" [icon]="faSearch"></fa-icon><span>SEARCH<br>OFFICE</span>
    </app-icon-button>
    <app-icon-button routerLink="/manager/search-windows">
      <fa-icon class="font-icon" [icon]="faSearch"></fa-icon><span>SEARCH<br>WINDOWS</span>
    </app-icon-button>
  </div>
</div>
<div class="card">
  <h3 class="title">Transport</h3>
  <div class="bar">
  </div>
  <div class="btn-container">
    <app-icon-button routerLink="/manager/add-deleg">
      <fa-icon class="font-icon" [icon]="faPlus"></fa-icon><span>ADD<br>DELEGATION</span>
    </app-icon-button>
    <app-icon-button routerLink="/manager/dist-car">
      <fa-icon class="font-icon" [icon]="faPlus"></fa-icon><span>ADD<br>MILEAGE</span>
    </app-icon-button>
    <app-icon-button routerLink="/manager/add-car">
      <fa-icon class="font-icon" [icon]="faPlus"></fa-icon><span>ADD<br>VEHICLE</span>
    </app-icon-button>
    <app-icon-button routerLink="/manager/search-car">
      <fa-icon class="font-icon" [icon]="faSearch"></fa-icon><span>SEARCH<br>VEHICLE</span>
    </app-icon-button>
    <app-icon-button routerLink="/manager/deleg-view">
      <fa-icon class="font-icon" [icon]="faSearch"></fa-icon><span>SEARCH<br>DELEGATION</span>
    </app-icon-button>
  </div>
</div>
