<app-section-name>Add mileage</app-section-name>
<form class="add-mileage-form" action="">
  <mat-form-field>
    <mat-label>Registration</mat-label>
    <mat-select  name="registrationNr" >
      <mat-option value="personal">
        sr321232
      </mat-option>
      <mat-option value="business" >
        sr354312
      </mat-option>
      <mat-option value="plane">
        sr321221
      </mat-option>
      <mat-option value="train">
        sr321321
      </mat-option>
      <mat-option value="other">
        sr332131
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput name="delegationNr" placeholder="Delegation number [YYYY/MM/NUM]">
  </mat-form-field>

  <mat-form-field>
    <input matInput name="previousMileage" placeholder="Previous mileage">
  </mat-form-field>
  <div class="mileage-compl">
    <mat-radio-group value ='opt1' #mileageChoice="matRadioGroup" aria-label="Select an option">
      <mat-radio-button value="opt1">
        Kilometers traveled

      </mat-radio-button>
      <mat-radio-button value="opt2">
        Actual mileage
      </mat-radio-button>
    </mat-radio-group>
    <div class="mileage-container">
      <mat-form-field>
        <input matInput name="kmTraveled" [disabled]="mileageChoice.value !== 'opt1' " placeholder="Kilometers traveled">
      </mat-form-field>
      <mat-form-field>
        <input matInput name="actualMileage" [disabled]="mileageChoice.value === 'opt1'" placeholder="Actual mileage">
      </mat-form-field>
    </div>
  </div>

  <mat-form-field>
    <mat-label>Costs</mat-label>
    <mat-select>
      <mat-option value="personal">
        U/01/20 (umowa pierwsza, rok 2020)
      </mat-option>
      <mat-option value="business">
        O/01/20 (oferta 1, rok 2020
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Comment</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <button type="submit" class="send-btn" mat-raised-button id="add-btn">Add</button>
</form>
<div class="server-answer-container"> Server answer</div>
