<app-section-name>Search delegation</app-section-name>
<app-navlist></app-navlist>
<form [formGroup]="searchDeleg" class="search-form">
  <div class="search-bar">
    <input formControlName='search' matInput placeholder="Search">
  </div>
</form>
<!-- <div class="search-bar">
  <input (input)='valueChange($event.target.value)' matInput placeholder="Search">
</div> -->
<mat-tab-group mat-align-tabs='center' (selectedTabChange)="setSort($event)">
  <mat-tab label="By Name" >
    <mat-form-field class="filter">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="table-container">
      <ng-container matColumnDef="Delegation Nr">
        <th mat-header-cell *matHeaderCellDef>Delegation Nr</th>
        <td mat-cell *matCellDef="let element"> {{element.delegationNr}} </td>
      </ng-container>

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <ng-container matColumnDef="Destination">
        <th mat-header-cell *matHeaderCellDef> Destination </th>
        <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
      </ng-container>

      <ng-container matColumnDef="Delegation place">
        <th mat-header-cell *matHeaderCellDef> Delegation place </th>
        <td mat-cell *matCellDef="let element"> {{element.delegationPlace}} </td>
      </ng-container>

      <ng-container matColumnDef="Costs">
        <th mat-header-cell *matHeaderCellDef> Costs </th>
        <td mat-cell *matCellDef="let element"> {{element.costs}} </td>
      </ng-container>
      <ng-container matColumnDef="Advance payment">
        <th mat-header-cell *matHeaderCellDef> Advance payment </th>
        <td mat-cell *matCellDef="let element"> {{element.advancePay}} </td>
      </ng-container>

      <ng-container matColumnDef="Transport">
        <th mat-header-cell *matHeaderCellDef> Transport </th>
        <td mat-cell *matCellDef="let element"> {{element.transport}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-tab>
  <mat-tab label="By Costs">
    <mat-form-field class="filter">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="table-container">
      <ng-container matColumnDef="Delegation Nr">
        <th mat-header-cell *matHeaderCellDef>Delegation Nr</th>
        <td mat-cell *matCellDef="let element"> {{element.delegationNr}} </td>
      </ng-container>

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <ng-container matColumnDef="Destination">
        <th mat-header-cell *matHeaderCellDef> Destination </th>
        <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
      </ng-container>

      <ng-container matColumnDef="Delegation place">
        <th mat-header-cell *matHeaderCellDef> Delegation place </th>
        <td mat-cell *matCellDef="let element"> {{element.delegationPlace}} </td>
      </ng-container>

      <ng-container matColumnDef="Costs">
        <th mat-header-cell *matHeaderCellDef> Costs </th>
        <td mat-cell *matCellDef="let element"> {{element.costs}} </td>
      </ng-container>
      <ng-container matColumnDef="Advance payment">
        <th mat-header-cell *matHeaderCellDef> Advance payment </th>
        <td mat-cell *matCellDef="let element"> {{element.advancePay}} </td>
      </ng-container>

      <ng-container matColumnDef="Transport">
        <th mat-header-cell *matHeaderCellDef> Transport </th>
        <td mat-cell *matCellDef="let element"> {{element.transport}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-tab>
  <mat-tab label="By Transport">
    <mat-form-field class="filter">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="table-container">
      <ng-container matColumnDef="Delegation Nr">
        <th mat-header-cell *matHeaderCellDef>Delegation Nr</th>
        <td mat-cell *matCellDef="let element"> {{element.delegationNr}} </td>
      </ng-container>

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <ng-container matColumnDef="Destination">
        <th mat-header-cell *matHeaderCellDef> Destination </th>
        <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
      </ng-container>

      <ng-container matColumnDef="Delegation place">
        <th mat-header-cell *matHeaderCellDef> Delegation place </th>
        <td mat-cell *matCellDef="let element"> {{element.delegationPlace}} </td>
      </ng-container>

      <ng-container matColumnDef="Costs">
        <th mat-header-cell *matHeaderCellDef> Costs </th>
        <td mat-cell *matCellDef="let element"> {{element.costs}} </td>
      </ng-container>
      <ng-container matColumnDef="Advance payment">
        <th mat-header-cell *matHeaderCellDef> Advance payment </th>
        <td mat-cell *matCellDef="let element"> {{element.advancePay}} </td>
      </ng-container>

      <ng-container matColumnDef="Transport">
        <th mat-header-cell *matHeaderCellDef> Transport </th>
        <td mat-cell *matCellDef="let element"> {{element.transport}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-tab>
</mat-tab-group>
