@import "../../../styles.scss";

:host {
    @include content-layout;
}
.add-car-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 100%;
}
mat-form-field, .send-btn {
    margin: 3px 0;
    width: 40%;
}
