<app-section-name>Add vehicle</app-section-name>
<app-navlist></app-navlist>
<form (ngSubmit)="onSubmit()" [formGroup]='addCarForm' class="add-car-form" action="">
  <mat-form-field>
    <input formControlName='registerNr' matInput name="registerNr" placeholder="Register number">
  </mat-form-field>

  <mat-form-field>
    <input formControlName='brand' matInput name="brand" placeholder="Brand">
  </mat-form-field>

  <mat-form-field>
    <input formControlName='model' matInput name="model" placeholder="Model">
  </mat-form-field>

  <mat-form-field>
    <input formControlName='mileage' matInput name="mileage" placeholder="Mileage">
    <mat-error>Digits only</mat-error>
  </mat-form-field>

  <button type="submit" class="send-btn" mat-raised-button id="add-btn">Add</button>
</form>
<app-server-ans  [status]='server.status' [message]='server.answer'></app-server-ans>
