:host {
  outline: none;
}
.circle {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  width: 8.5em;
  height: 8.5em;
  border-radius: 50%;
  background-color: rgb(90, 136, 221);
  /* border: 5px solid rgb(8, 1, 32); */
  border: .6rem solid rgb(117, 126, 143);
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    & span {
      color: rgb(255, 159, 25);
    }
  }

  & span {
    color: white;
    font-weight: 800;
    text-align: center;
    transition: all .3s;

    &:first-line {
      font-size: 1.5em;
    }
  }
}
