$navlistWidth: 170px;

:host {
  display: block;
  width: 100%;
}
main {
  display: grid;
  grid-template-columns:$navlistWidth 1fr;
  padding-left: 10px;
}
app-navlist {
  z-index: 2;
}
.animation-container  {
  position: relative;
}
:host ::ng-deep router-outlet ~ * {
  position: absolute;
  width: 100%;
}
@media(max-width: 1023px) {
  app-navlist {
    display:none;
  }
  main {
    grid-template-columns: 1fr;
    padding-left: 0;

  }
}
