@import "../../../styles.scss";

.add-mileage-form {
  @include add-form-layout;
}

.add-mileage-form>mat-form-field,
.mileage-compl {
  width: 95%;
  max-width: 700px;
}
.send-btn {
  width: 45%;
  max-width: 500px;
}
.mileage-compl {
  display: flex;
  flex-direction: column;

}


.mileage-container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  mat-form-field {
    width: 45%;
    margin: 0px;
  }

}

mat-radio-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

mat-radio-button {
  margin: 4px 0px;
}

@media (max-width: 450px) {
  mat-radio-group {
    flex-direction: column;
  }
}
