@import "../../../styles.scss";

.add-mileage-form {
  @include add-form-layout;
}

.add-mileage-form>mat-form-field,
.send-btn,
.mileage-compl {
  margin: 3px 0;
  width: 60%;
}

.mileage-compl {
  display: flex;
  flex-direction: column;

}


.mileage-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /*   margin: 1px 5px; */
}
mat-radio-group {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
mat-radio-button {
  margin: 0px;
}

.mileage-container > mat-form-field {
  width: 45%;
  margin: 0px;
}
