<form (ngSubmit)="onSubmit()" [formGroup]="addDelegForm" class="add-delegation-form" action="">
  <div class="input-container">
    <mat-form-field>
      <input formControlName="firstName" matInput name="firstName" placeholder="First name">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="lastName" matInput name="lastName" placeholder="Last name">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="from" matInput [matDatepicker]="pickerFrom" placeholder="From">
      <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
      <mat-datepicker #pickerFrom></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="to" matInput [matDatepicker]="pickerTo" placeholder="To">
      <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
      <mat-datepicker #pickerTo></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="delegationNumber" matInput name="delegNr" placeholder="Delegation number">
      <mat-hint>[YYYY/MM/NUM]</mat-hint>
      <mat-error>Invalid number. It must fulfill following pattern: [YYYY/MM/NUM] </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="destination" matInput name="destination" placeholder="Destination">
    </mat-form-field>

    <mat-form-field>
      <input formControlName="delegationPlace" matInput name="place" placeholder="Delegation place">
    </mat-form-field>

    <mat-form-field>
      <input formControlName="companyName" matInput name="companyName" placeholder="Company name">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="costs" matInput name="costs" placeholder="Costs">
    </mat-form-field>
    <div class="payment-container">
      <mat-form-field class="currency-select">
        <mat-label>Currency</mat-label>
        <mat-select formControlName="currency" name="currency">
          <mat-option value="DOLAR">
            DOLAR
          </mat-option>
          <mat-option value="EURO">
            EURO
          </mat-option>
          <mat-option value="PLN">
            PLN
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="currency">
        <input formControlName="advancePayment" matInput name="advancePay" placeholder="Advance payment">
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Transport</mat-label>
      <mat-select formControlName="transport" >
        <mat-option value="personal">
          Personal
        </mat-option>
        <mat-option value="business">
          Business
        </mat-option>
        <mat-option value="plane">
          Plane
        </mat-option>
        <mat-option value="train">
          Train
        </mat-option>
        <mat-option value="other">
          Other
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Registration</mat-label>
      <mat-select formControlName="registration"  name="registrationNr">
        <mat-option *ngFor='let reg of regList$ | async' value="{{reg}}">
          {{reg}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button type="submit" class="send-btn" mat-raised-button id="add-btn">Add</button>
</form>
<app-server-ans  [status]='server.status' [message]='server.answer'>{{server.answer}}</app-server-ans>
