@import "../../../styles.scss";

:host {
    @include content-layout;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
mat-form-field, .send-btn {
  width: 40%;
  margin: 0 3px;
}
.send-btn {
  margin-bottom: 5px;
}
