@import '../../../styles.scss';



:host {
  padding: 10px;
  width: 180px;
  height: 360px;
  box-sizing: border-box;
  color: $blacktext;
  position: fixed;
  left: calc(((100vw - (1440vw / 19.2)))/2 - 180px);
}

@media (max-width: 1440px) {
  :host {
    left: calc((100vw - 65vw)/2 - 180px);
  }
}

@media (max-width: 1023px) {
  :host {
    display: none;
  }
}

.header {
  letter-spacing: .6px;
  font-weight: 700;
  margin: 10px 0 8px 0;
  line-height: 0;
  display: block;
  height: 12px;
  border-bottom: 1px solid $blacktext;

}

ul {
  margin: 0 0 4px 0;
  padding: 3px;
  list-style: none;
}

li {
  cursor: pointer;
  margin: 3px 0 3px 6px;
  letter-spacing: .6px;
}

.active {
  color: $logocolor;
  font-weight: bold;
}
