<h4 class="header">Transport</h4>
<ul>
  <li routerLinkActive='active' routerLink="/deleg-view">Search Delegation</li>
  <li routerLinkActive='active' routerLink="/add-deleg">Add Delegation</li>
  <li routerLinkActive='active' routerLink="/add-car">Add vehicle</li>
  <li routerLinkActive='active' routerLink="/search-car">Search vehicle</li>
  <li routerLinkActive='active' routerLink="/dist-car">Add mileage</li>
</ul>
<h4 class="header">Office Management</h4>
<ul>
  <li routerLinkActive='active' routerLink="/add-office" >Add Office</li>
  <li routerLinkActive='active' routerLink="/search-office">Search office</li>
  <li routerLinkActive='active' routerLink="/add-windows">Add windows</li>
  <li routerLinkActive='active' routerLink="/search-windows">Search Windows</li>
</ul>
<h4 class="header">Alarm</h4>
<ul>
  <li routerLinkActive='active' routerLink="/alarm">Alarm</li>
</ul>
