<h4 class="header">Transport</h4>
<ul>
  <li routerLinkActive='active' routerLink="/manager/add-deleg">Add delegation</li>
  <li routerLinkActive='active' routerLink="/manager/dist-car">Add mileage</li>
  <li routerLinkActive='active' routerLink="/manager/add-car">Add vehicle</li>
  <li routerLinkActive='active' routerLink="/manager/deleg-view">Search delegation</li>
  <li routerLinkActive='active' routerLink="/manager/search-car">Search vehicle</li>
</ul>
<h4 class="header">Office Management</h4>
<ul>
  <li routerLinkActive='active' routerLink="/manager/add-office" >Add office</li>
  <li routerLinkActive='active' routerLink="/manager/add-windows">Add windows</li>
  <li routerLinkActive='active' routerLink="/manager/search-office">Search office</li>
  <li routerLinkActive='active' routerLink="/manager/search-windows">Search windows</li>
</ul>
<h4 class="header">Alarm</h4>
<ul>
  <li routerLinkActive='active' routerLink="/manager/alarm">Alarm</li>
</ul>
