@import "./../styles.scss";

:host{
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  padding:0;
  margin: 0;
}

.container{
    background-color: $white;
    width: 1440px;
    display:flex;
    justify-self: center;

}
@media (max-width: 1439px) {
  .container {
    width: 100vw;
  }
}
