<app-section-name>Add windows</app-section-name>
<app-navlist></app-navlist>
<form [formGroup]="addWindowsForm" (ngSubmit)="onSubmit()" class="add-windows-form" action="">
  <mat-form-field>
    <input formControlName='pcName' matInput name="pcName" placeholder="Pc name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>System name</mat-label>
    <mat-select formControlName='systemName' name="systemName">
      <mat-option *ngFor='let window of windows$ | async' value="{{window}}">
        {{window}}
      </mat-option>

    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input formControlName='activationDate' matInput name="activationDate" [matDatepicker]="actDate" placeholder="Activation date">
    <mat-datepicker-toggle matSuffix [for]="actDate"></mat-datepicker-toggle>
    <mat-datepicker #actDate></mat-datepicker>
  </mat-form-field>
  <button type="submit" class="send-btn" mat-raised-button id="add-btn">Add</button>
</form>
<app-server-ans  [status]='server.status' >{{server.answer}}</app-server-ans>
