
<app-section-name>Add windows</app-section-name>
<form class="add-windows-form" action="">
  <mat-form-field>
    <input matInput name="pcName" placeholder="Pc name">
  </mat-form-field>

  <mat-form-field>
    <input matInput name="systemName" placeholder="System name">
  </mat-form-field>

  <mat-form-field>
    <input matInput name="activationDate" placeholder="Activation date">
  </mat-form-field>

  <button type="submit" class="send-btn" mat-raised-button id="add-btn">Add</button>
</form>
<div class="server-answer-container">Server Answer</div>
