<app-section-name>Add office</app-section-name>
<form class="add-office-form" action="">
  <mat-form-field>
    <input matInput name="pcName" placeholder="Pc name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Product name</mat-label>
    <mat-select name="productName" >
      <mat-option value="personal">
        Microsoft Office H&B 2014
      </mat-option>
      <mat-option value="business" >
        Microsoft Office H&B 2015
      </mat-option>
      <mat-option value="plane">
        Microsoft Office H&B 2016
      </mat-option>
      <mat-option value="train">
        Microsoft Office H&B 2017
      </mat-option>
      <mat-option value="other">
        Microsoft Office H&B 2018
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput name="productKey" placeholder="Product's key">
  </mat-form-field>

  <mat-form-field>
    <input matInput name="registerMail" placeholder="Register mail">
  </mat-form-field>

  <mat-form-field>
    <input matInput name="activationDate" [matDatepicker]="pickerAct" placeholder="Activation date">
    <mat-datepicker-toggle matSuffix [for]="pickerAct"></mat-datepicker-toggle>
    <mat-datepicker #pickerAct></mat-datepicker>
  </mat-form-field>
  <button type="submit" class="send-btn" mat-raised-button id="add-btn">Add</button>
</form>
<div class="server-answer-container">Server Answer</div>
