<app-section-name>Add office</app-section-name>
<app-navlist></app-navlist>
<form (ngSubmit)="onSubmit()" [formGroup]="addOfficeForm" class="add-office-form" action="">
  <mat-form-field>
    <input formControlName='pcName' matInput name="pcName" placeholder="Pc name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Product name</mat-label>
    <mat-select formControlName='productName' name="productName" >
      <mat-option *ngFor='let office of offices$ | async' value="{{office}}">
        {{office}}
      </mat-option>

    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input formControlName='productKey'  matInput name="productKey" placeholder="Product's key">
  </mat-form-field>

  <mat-form-field>
    <input type='email' formControlName='registerMail'  matInput name="registerMail" placeholder="Register mail">
    <mat-error >Valid email adress is required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input formControlName='activationDate'  matInput name="activationDate" [matDatepicker]="pickerAct" placeholder="Activation date">
    <mat-datepicker-toggle matSuffix [for]="pickerAct"></mat-datepicker-toggle>
    <mat-datepicker #pickerAct></mat-datepicker>
    <mat-error >Valid date is required</mat-error>
    <mat-hint>MM/DD/YYYY</mat-hint>
  </mat-form-field>
  <button type="submit" class="send-btn" mat-raised-button id="add-btn">Add</button>
</form>
<app-server-ans  [status]='server.status' [message]='server.answer'></app-server-ans>
