:host {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  justify-self: center;
  border-radius: 15px;
  padding: 10px 14px;
  display:none;
  margin: 4px;
  max-width: 400px;
}

.mes {
  margin: 0;
  font-size: 1.1rem;
  letter-spacing: .7px;
}

.green {
  display:block;
  background: rgb(103, 224, 103);
}

.red {
  display:block;
  background: rgb(231, 111, 111);
}
